debian/files
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/autoreconf.after
debian/autoreconf.before
debian/libsparkey-dbg/
debian/libsparkey0/
debian/sparkey-bin/
debian/sparkey-doc/
debian/libsparkey-dev/
debian/tmp/

config.guess
config.log
config.status
config.sub
configure
aclocal.m4
autom4te.cache
libtool
ltmain.sh
install-sh
depcomp
missing
compile
test-driver

Makefile
Makefile.in
Doxyfile
doxy/
doxyfile.stamp

src/.deps
src/.libs
src/*.o
src/*.lo
src/*.la
src/bench
src/testhash
src/testsystem
src/testutil
src/testvlq
src/sparkey
src/test.sp*
src/*.log
src/*.trs


